<div class="row">

    <div class="col-lg-4"></div>
    
    <div class="col-lg-4 text-left">
                    <div class="form-group text-center">
                        <img src="../../assets/login logo.png" width="100px" height="100px" alt="" style="margin-top:110px;">
                    </div>
                    <form>
                        <div class="form-row" style="padding: 10px;">

                              <label for="validationTooltip03">Email:<span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="validationTooltip03" placeholder="Enter email" required>
                              <div class="invalid-tooltip">
                                Please provide a valid Email.
                              </div>
                              <label for="validationTooltip03">Password:<span class="text-danger">*</span></label>
                              <input type="password" class="form-control" id="validationTooltip03" placeholder="Enter password" required>
                              <div class="invalid-tooltip">
                                Please provide a valid Password.
                              </div>
                            
                            </div>

                           
                        
                        <div class="form-check" style="padding-left: 30px;">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div><br>
                        <button type="submit" class="btn btn-success form-control" style="padding-left: 20px;">Submit</button>
                      </form>

    </div>
   
    <div class="col-lg-4"></div>

</div>
